
$headerColor: rgb(54, 53, 53);
$textColor:  rgb(235, 235, 235);
 $textHoverColor: white;

.categorie {
  color: rgb(235, 235, 235);
  font-family: "Rubik Regular";
  font-size: 20px;
  display: inline-block;
  justify-content: space-between;
  padding: 30px;
}

.categorie:hover {
  color: $textHoverColor;
}

.categories {
  background-color: $headerColor;
  width: 100%;
  text-align: center;
}
